{#

Description text for the Continent Config Entity.

#}

{% trans %}

<p>The Config Entity defines a Continent entity type. This is a list
  of the Continent entities currently in your Drupal site.</p><p>By default, when
  you enable this module, one Continent is created from configuration. This is
  why we call them Config Entities. Eurasia, is created
  in the database when the module is enabled.</p><p>You can view a list of
  Continents here. You can also use the 'Operations' column to edit and delete
  Continents.</p>

{% endtrans %}
