{#

Description text for the Country Config Entity.

#}

{% trans %}

<p>The Config Entity defines a Country entity type. This is a list
  of the Country entities currently in your Drupal site.</p><p>By default, when
  you enable this module, one Country is created from configuration. This is
  why we call them Config Entities. Ukraine, is created
  in the database when the module is enabled.</p><p>You can view a list of
  Countries here. You can also use the 'Operations' column to edit and delete
  Countries.</p>

{% endtrans %}
